# Node
node_modules/
.expo/
dist/
build/
*.log

# Android
.gradle/
local.properties
*.jks
*.keystore
keystore.properties
captures/
.externalNativeBuild
.cxx/
.navigation/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
